@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCrlic/MuseoSansCyrl-300.eot");
  src: url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCrlic/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCrlic/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCrlic/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCrlic/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCrlic/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCrlic/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
}

@media (max-width: 1200px) {
  .container {
    max-width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 95%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  cursor: pointer;
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.navbar__address {
  font-size: 13px;
  font-weight: 400;
  color: #333;
  margin-bottom: 9px;
  text-align: right;
}

.navbar__phone {
  color: #333;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.navbar__button {
  color: #333;
  font-size: 13px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

@media (max-width: 768px) {
  .navbar__logo img {
    width: 91px;
  }
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 10px;
    padding: 15px 26px;
  }
}

.hero {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 120px;
}

.hero-text__title {
  font-size: 41px;
  line-height: 55px;
  margin-bottom: 23px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  line-height: 65px;
  margin-bottom: 41px;
  font-family: 'Museo Sans Bold';
  font-weight: 700;
}

.hero-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.hero-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 2px solid #ffd200;
  border-radius: 50%;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 300px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-text {
    padding-right: 0;
    margin-bottom: 18px;
  }
}

@media (max-width: 768px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 13px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    line-height: 25px;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__img {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */